DJANGO_SECRET_KEY=replace-this-with-a-random-secret
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
REQUEST_VERIFY_SSL=true
ENABLE_WAITING_GAME=true
REACT_APP_API_BASE_URL=http://127.0.0.1:8000

